.vscode
build
imgui.ini
!.clang-format
.*
*.mp4
*.mkv
*.temp
*.log

builddocs/_build
builddocs/api
builddocs/doxygen-output
!builddocs/_staticc/vid.mp4
!docs/_static/vid.mp4

_sources
!.nojekyll
out/*